*{
    margin: 0;
    padding: 0;
    font-family:  Courier;
   
}

body::-webkit-scrollbar {
    display: none;
}
.card-content{
    display: grid;
    grid-template-columns: 10rem auto;
    margin-bottom: 12px;  
    padding: 20px 20px 0 33px; 
    background-color: #ebe9e5;
}

img{
    width: 158px;
    height: 158px;
    margin-bottom: 4px 
}
#gridCard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap : 12px;
    
}
.card{  
    padding: 8px;
    border: 3px solid #e5cfaf;
    border-radius: 14px;
}
.card:hover{
    cursor: pointer;
}
.card-title{    
    width: 15rem;
    font-weight: bold;
    font-size: 14px;  
    line-height: 18px;
    color: #212121;
    white-space: normal;    
}
.card-money{
    line-height: 22px;
    height: 22px;
    font-size: 18px;
    color: #f85606
}

.card-origin-price{
    text-decoration: line-through;
}


.detailCards{
    display: grid;
    grid-template-columns: 30rem auto;
}
